*{
    box-sizing: border-box;
}

html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    font-family: Inter, system-ui, Arial, sans-serif;
    background-color: #0f1e35;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #1e3a5f;
    border-radius: 4px;
}